<footer class="footer mt-5">

    <div class="footer-social">

        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>

    </div>

    <div class="footer-links">

        <p class="footer-links">
            Privacy &nbsp;  Terms &nbsp;  About
        </p>

    </div>

    <div class="footer-brand">

        © <%= new Date().getFullYear() %> StayScape. All Rights Reserved.

    </div>

</footer>